
body
{
    margin: 0;
    padding: 0;
    background-image: url("../css/gifs/gifLuces.gif");
    background-position-y: 15%;
    background-position-x: 70%;

}

div > h1
{
    text-align: left;
    margin-left: 80%;
    margin-top: 51%;
    font-family: BentonSans, 'BentonSans Bold';
    color: white;
    font-size: 100%;
}

div > form 
{
    margin-top: 50%;
    border-radius: 50%;
    display: block;
    margin-right: 80%;
    text-align: right;
    font-family:BentonSans, 'BentonSans Regular';
    color:#b5e5f9;
}



