*
{
    margin: 0;
    padding: 0;
    background-image: url("../css/gifs/gifLuces.gif");
    background-position-y: 15%;
    background-position-x: 25%;
}

h1
{
    text-align: left;
    margin-left: 50%;
    margin-top: 20%;
    font-family: BentonSans, 'BentonSans Bold';
    color: white;
    font-size: 100%;
    
}

form {
    border-radius: 50%;
    display: block;
    margin-right: 35%;
    text-align: right;
}

form button {
    display: block !important;
    margin: 20px auto;
}
