nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: transparent;
	/* background: blue; */
	color: white;
	margin-bottom: 05%;
}

.nav-links {
	font-family: BentonSans, "BentonSans Regular";
	font-size: 14px;
	margin-top: 10%;
	width: 50%;
	margin-left: 70%;
	display: flex;
	justify-content: space-around;
	list-style: none;
}
