.logo {
    display: inline-block;
    margin-top: 50px;
}

.seleccionada{
    margin-left: 75%;
    margin-top: 50px;
    display: inline-block;
    font-family: BentonSans, 'BentonSans Black';
    font-size: 14px;
    color:#001c3d;
}

.seleccionada:hover{
    color: #001c3d;
}

.non-selected{
  margin-bottom: 10%;
  margin-left: 05%;
  display: inline-block;
  font-family: BentonSans, 'BentonSans Regular';
  font-weight: bold;
  font-size: 14px;
  color:#001c3d;
  }

.non-selected:hover{
    color:#001c3d;
}

.varN{
    margin-bottom: 05%;
}
.titulo-a{
    text-align: center;
    margin-bottom: 02%;
    
}

.rafa{
    margin-top: 10%;
    border-radius: 50%; 
}

.nombre-r{
    font-family: BentonSans, 'BentonSans Regular';
    font-size: 16px;
    margin-top: 05%;
    margin-bottom: 0;
}

.carrera-r{
    font-family: BentonSans, 'BentonSans Black';
    color: gray;
    margin-left: 03%;
    margin-top: 0%;
}

.nombre-c{
    font-family: BentonSans, 'BentonSans Regular';
    margin-top: 05%;
    margin-bottom: 0;
}

.nombre-d{
    font-family: BentonSans, 'BentonSans Regular';
    margin-top: 05%;
    margin-bottom: 0;
}

.nombre-i{
    font-family: BentonSans, 'BentonSans Regular';
    margin-top: 05%;
    margin-bottom: 0;
}

.nombre-s{
    font-family: BentonSans, 'BentonSans Regular';
    margin-top: 05%;
    margin-bottom: 0;
}

.carrera-d{
    font-family: BentonSans, 'BentonSans Black';
    color: gray;
    margin-left: 03%;
    margin-top: 0%;
}

.azul{
    background-image: linear-gradient(to bottom right, #001c3d, #04a5b1, #001c3d);
    padding: 07%;
    height: 607px;
}

.equipo{
    margin-bottom: 10%;
}

.fotos-a{
    text-align: center;
}

.fotos-b{
    text-align: center;
}

.logo-a{
    margin-right: 80%;
}

.oficinista{
   margin: 0;
   padding: 0;
   position: absolute;
   margin-left: 70%;
}

.text-a{
    color: honeydew;
    text-align: justify;
    margin-left: 05%;
    margin-top: 03%;
}

.ver-video{
    background-color: #00d1cb;
	border: none;
	border-radius: 5px;
	color:  #fcf9f9;
	padding: 7px 27px;
	text-decoration: none;
    font-size: 16px;
    font-family: BentonSans, 'BentonSans Regular';
	margin: 50px 40px 0px 0px;
	margin: 0;
    margin-left: 05%;
    margin-top: 05%;
}
