.logo {
    display: inline-block;
    margin-top: 50px;
}

.seleccionada{
    margin-left: 75%;
    margin-top: 50px;
    display: inline-block;
    font-family: BentonSans, 'BentonSans Black';
    font-size: 14px;
    color:#001c3d;
}

.seleccionada:hover{
    color: #001c3d;
}

.non-selected{
  margin-bottom: 05%;
  margin-left: 05%;
  display: inline-block;
  font-family: BentonSans, 'BentonSans Regular';
  font-weight: bold;
  font-size: 14px;
  color:#001c3d;
  }

.non-selected:hover{
    color:#001c3d;
}

.titulo-a{
    text-align: center;
    margin-bottom: 02%;
    
}

.rafa{
    margin-top: 10%;
    border-radius: 50%; 
}

.nombre-r{
    font-family: BentonSans, 'BentonSans Regular';
    font-size: 16px;
    margin-top: 05%;
    margin-bottom: 0;
}

.carrera-r{
    font-family: BentonSans, 'BentonSans Black';
    color: gray;
    margin-left: 03%;
    margin-top: 0%;
}

.nombre-c{
    font-family: BentonSans, 'BentonSans Regular';
    margin-top: 05%;
    margin-bottom: 0;
}

.nombre-d{
    font-family: BentonSans, 'BentonSans Regular';
    margin-top: 05%;
    margin-bottom: 0;
}

.nombre-i{
    font-family: BentonSans, 'BentonSans Regular';
    margin-top: 05%;
    margin-bottom: 0;
}

.nombre-s{
    font-family: BentonSans, 'BentonSans Regular';
    margin-top: 05%;
    margin-bottom: 0;
}

.carrera-d{
    font-family: BentonSans, 'BentonSans Black';
    color: gray;
    margin-left: 03%;
    margin-top: 0%;
}

.azul{
    background-image: linear-gradient(to bottom right, #001c3d, #04a5b1, #001c3d);
    padding: 08%;
    background-position-y: 70%;
    text-align: center;
}

.equipo{
    margin-bottom: 10%;
}

.fotos-a{
    text-align: center;
}

.fotos-b{
    text-align: center;
}

.logo-a{
    margin-right: 80%;
}

.oficinista{
   position: absolute;
}

.text-a{
    color: honeydew;
    text-align: justify;
    margin-left: 05%;
    margin-top: 05%;
}